* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    
     background-image:
        
        url("../static/yy.jpg");

    background-size: cover;
    background-position: center;
    margin: 0;
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

/* container */
.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* card */
.card {
    background: #e4d6dc;
    padding: 30px;
    width: 350px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(226, 212, 212, 0.4);
    text-align: center;
}

.card h2 {
    color: #0b0b0b;
    margin-bottom: 20px;
}

/* inputs */
.card input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: none;
    border-radius: 8px;
    background: #ddafc5;
    color: #fff;
}

.card input::placeholder {
    color: #080808;
}

/* button */
.card button {
    width: 100%;
    padding: 12px;
    background: #d26f9a;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.card button:hover {
    background: #d26f9a;
}

/* bottom text */
.switch {
    margin-top: 15px;
    color: #0c0c0c;
    font-size: 14px;
}

.switch a {
    color: #90537a;
    text-decoration: none;
}


.subtitle {
    font-size: 14px;
    color: #94a3b8;
    margin-bottom: 20px;
}
.enter {
    font-size: 14px;
    color: #94a3b8;
    margin-bottom: 20px;
}
/* ================= HERO SECTION ================= */

.hero {
    
    height: 100vh;

    background-image:
        
        url("../static/bg.jpg");

    background-size: cover;
    background-position: center;

    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

}

.hero-content {
    text-align: center;
    color: rgb(217, 179, 179);
    max-width: 700px;
}

.hero-content h1 {
    font-size: 48px;
    margin-bottom: 15px;
}

.hero-content p {
    font-size: 18px;
    margin-bottom: 30px;
    opacity: 0.9;
}

.hero-btn {
    padding: 14px 35px;
    background: #ef4444;
    color: white;
    text-decoration: none;
    font-size: 16px;
    border-radius: 8px;
    transition: 0.3s;
}

.hero-btn:hover {
    background: #dc2626;
}
/* ================= NAVBAR ================= */

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(218, 83, 83, 0.5);
    backdrop-filter: blur(10px);
    z-index: 1000;
}

.logo {
    color: white;
    font-size: 22px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    transition: 0.3s;
    display: inline-block;
    
}
.nav-links a.active {
    border-bottom: 2px snow;
}

.nav-links a:hover {
    color: #cb7a7a;
    display: inline-block;
}
/* ===== Dashboard only ===== */
body.dashboard-page {
    margin: 0;
    padding: 0;
    background: none;
}

body.dashboard-page .hero {
    width: 100vw;
    min-height: 100vh;
}
/*profile*/
.profile-page {
    background-image:
        
        url("../static/tt.jpg");
    background-size: cover;
    background-position: center;


    
    min-height: 100vh;
}

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
}

.profile-card {
    background: white;
    width: 400px;
    padding: 30px;
    border-radius: 18px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.25);
}

.profile-card h2 {
    text-align: center;
}

.subtitle {
    text-align: center;
    font-size: 14px;
    color: #777;
    margin-bottom: 20px;
}

.profile-card label {
    display: block;
    margin-top: 12px;
    font-size: 14px;
}

.profile-card input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.profile-btn {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background: #2c5364;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.back-home-btn {
    display: block;
    text-align: center;
    margin-top: 15px;
    color: #2c5364;
    text-decoration: none;
    font-size: 14px;
}
/* ===== Features Page ===== */
body.features-page {
    background-image:
        
        url("../static/big.jpg");
    background-size: cover;
    background-position: center;

    
}

/* Hero */
.features-hero {
    height: 60vh;
    background-image:
        linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
        url("../images/features-bg.jpg");

    background-size: cover;
    background-position: center;

    color: white;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.features-hero h1 {
    font-size: 42px;
    margin-bottom: 10px;
}

/* Content */
.features-content {
    padding: 80px 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.feature-box {
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.feature-box h2 {
    margin-bottom: 10px;
    color: #2c6e49;
}