* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    height: 100vh;
    background: #9da3b1; /* دارك */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* container */
.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* card */
.card {
    background: #91a3b4;
    padding: 30px;
    width: 350px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    text-align: center;
}

.card h2 {
    color: #fff;
    margin-bottom: 20px;
}

/* inputs */
.card input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: none;
    border-radius: 8px;
    background: #1f2933;
    color: #fff;
}

.card input::placeholder {
    color: #9ca3af;
}

/* button */
.card button {
    width: 100%;
    padding: 12px;
    background: #4f46e5;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.card button:hover {
    background: #4338ca;
}

/* bottom text */
.switch {
    margin-top: 15px;
    color: #9ca3af;
    font-size: 14px;
}

.switch a {
    color: #6366f1;
    text-decoration: none;
}


.subtitle {
    font-size: 14px;
    color: #94a3b8;
    margin-bottom: 20px;
}
.enter {
    font-size: 14px;
    color: #94a3b8;
    margin-bottom: 20px;
}